In [19]:
#program1 :(i)Square from 1 to 10

num_list = [1,2,3,4,5,6,7,8,9,10]
for i in num_list:
    print(f"Square of number {i} is {i**2} ") 
    
    #print(f"Cube of number {i} is {i**3} ")

Square of number 1 is 1
Square of number 2 is 4
Square of number 3 is 9
Square of number 4 is 16
Square of number 5 is 25
Square of number 6 is 36
Square of number 7 is 49
Square of number 8 is 64
Square of number 9 is 81
Square of number 10 is 100

In [20]:
#program 2: (ii)Cube from 1 to 10


num_list1 = [0,1,2,3,4,5,6,7,8,9,10]
for i1 in num_list1:
     print(f"Cube of number {i1} is {i1**3} ")

Cube of number 0 is 0
Cube of number 1 is 1
Cube of number 2 is 8
Cube of number 3 is 27
Cube of number 4 is 64
Cube of number 5 is 125
Cube of number 6 is 216
Cube of number 7 is 343
Cube of number 8 is 512
Cube of number 9 is 729
Cube of number 10 is 1000

# List Comprehension Examples ..

In [6]:
#Program 1:: print even number list

list = [i for i in range(11) if i%2 == 0]
print(list)

[0, 2, 4, 6, 8, 10]

In [10]:
[item for item in ['apple','mango','banana','orange'] if item == 'banana']

['banana']

In [11]:
[i for i in range(11) if i%2 == 0]

[0, 2, 4, 6, 8, 10]

In [19]:
#program 2 : Matrix (nested list comprehension)

matrix = [[j for j in range(4)]for i in range(2)]

In [20]:
matrix

[[0, 1, 2, 3], [0, 1, 2, 3]]

# prgram 3 : use of Lambda & list comprehension both in one                                                           program

In [26]:
#* (i) WITHOUT lambda 

[i*10 for i in range(1,6)]

[10, 20, 30, 40, 50]

In [36]:
#* (ii) WITH lambda

#num = (lambda i: i*10, [i for i in range(1, 6)])
print(num)

#numbers = list(map(lambda i: i*10, [i for i in range(1, 6)]))

(<function <lambda> at 0x10749a0e0>, [1, 2, 3, 4, 5])

In [37]:
num

(<function __main__.<lambda>(i)>, [1, 2, 3, 4, 5])