In [1]:
#Create a dictionary with key as country_name and value as its capital

In [3]:
country ={"Nepal": "ktm",
         "India": "new delhi",
         "China":"bejing",
         "Bangladesh":"dhaka"
         }

In [4]:
country

{'Nepal': 'ktm',
 'India': 'new delhi',
 'China': 'bejing',
 'Bangladesh': 'dhaka'}

In [6]:
country.update({"Bhutan":"thimpu"})

In [7]:
country

{'Nepal': 'ktm',
 'India': 'new delhi',
 'China': 'bejing',
 'Bangladesh': 'dhaka',
 'Bhutan': 'thimpu'}

In [9]:
country.update({"Pakistan":"islamabad"})

In [10]:
country

{'Nepal': 'ktm',
 'India': 'new delhi',
 'China': 'bejing',
 'Bangladesh': 'dhaka',
 'Bhutan': 'thimpu',
 'Pakistan': 'islamabad'}

In [13]:
country["Srilanka"]="sri Jayawardenepura"

In [14]:
country

{'Nepal': 'ktm',
 'India': 'new delhi',
 'China': 'bejing',
 'Bangladesh': 'dhaka',
 'Bhutan': 'thimpu',
 'Pakistan': 'Islamabad',
 'Srilanka': 'sri Jayawardenepura'}

In [15]:
#what are valid keys?

In [16]:
num = {
    1: "one",
    2:"two",
    3:"three"
}

In [17]:
num    #integer values can be keys

{1: 'one', 2: 'two', 3: 'three'}

In [18]:
{1.2: "one dot two"}          #FLOAT values can be keys

{1.2: 'one dot two'}

In [19]:
{
    ["one","two"]:12    #LISt and Tuple cannot be keys
    
}

TypeError: unhashable type: 'list'

In [ ]:
#Accessing Values of a key

In [20]:
country

{'Nepal': 'ktm',
 'India': 'new delhi',
 'China': 'bejing',
 'Bangladesh': 'dhaka',
 'Bhutan': 'thimpu',
 'Pakistan': 'Islamabad',
 'Srilanka': 'sri Jayawardenepura'}

In [21]:
country["Nepal"]

'ktm'

In [25]:
country.get("India")

'new delhi'

In [27]:
country.get("Srilanka")

'sri Jayawardenepura'

In [28]:
country["Srilanka"]

'sri Jayawardenepura'