## Dictionary
* mapping datatype
* syntax
``` python
       {
           key: value
       } 
```
* key cannot be duplicate but value can be.

## Creating empty dictionary

In [1]:
about = {}

In [3]:
type(about)   #bhitra item bhayo bhane matra set else dictionary

dict

In [4]:
#alternative way
about = dict()  #this method is applicable for all the data types

In [5]:
type(about)

dict

## Adding key value pairs in the dictionary

In [6]:
about = {}

In [8]:
# first way of adding key value pair
about['name'] = 'Shraddha'
print(about)   #name: key, value: Shraddha

{'name': 'Shraddha'}

In [9]:
# second way of adding key value pair
about.update({'works_at': "Broadway Infosys"})

In [10]:
print(about)

{'name': 'Shraddha', 'works_at': 'Broadway Infosys'}

In [11]:
about['teaches'] = ["python", "Data Science", "Machine Learning", "AI", "Deep Learning"]

In [13]:
print(about)

{'name': 'Shraddha', 'works_at': 'Broadway Infosys', 'teaches': ['python', 'Data Science', 'Machine Learning', 'AI', 'Deep Learning']}

In [14]:
about["age"] = 25

In [15]:
about

{'name': 'Shraddha',
 'works_at': 'Broadway Infosys',
 'teaches': ['python',
  'Data Science',
  'Machine Learning',
  'AI',
  'Deep Learning'],
 'age': 25}

## .update() method adds key value pair if key doesnot exist. If the key exists, it updates the value

In [16]:
about.update({"name": "Shraddha Shrestha"})

In [17]:
about

{'name': 'Shraddha Shrestha',
 'works_at': 'Broadway Infosys',
 'teaches': ['python',
  'Data Science',
  'Machine Learning',
  'AI',
  'Deep Learning'],
 'age': 25}

## Create a dictionary with key as country_name and value as its capital

In [40]:
country = {
    "Nepal": "Kathmandu",
    "India": "New Delhi",
    "Bangladesh": "Dhaka",
    "China": "Bejing"
}

In [41]:
country

{'Nepal': 'Kathmandu',
 'India': 'New Delhi',
 'Bangladesh': 'Dhaka',
 'China': 'Bejing'}

In [42]:
country.update({"Bhutan": "Thimpu"})

In [43]:
country

{'Nepal': 'Kathmandu',
 'India': 'New Delhi',
 'Bangladesh': 'Dhaka',
 'China': 'Bejing',
 'Bhutan': 'Thimpu'}

In [44]:
country["Pakistan"] = "Islamabad"

In [45]:
country

{'Nepal': 'Kathmandu',
 'India': 'New Delhi',
 'Bangladesh': 'Dhaka',
 'China': 'Bejing',
 'Bhutan': 'Thimpu',
 'Pakistan': 'Islamabad'}

### What are valid keys?

In [46]:
num = {
    1: "One",
    2: "Two",
    3: "Three"
}

In [47]:
num  #int values can be keys

{1: 'One', 2: 'Two', 3: 'Three'}

In [48]:
{1.2: "one dot two"} #float values can be keys

{1.2: 'one dot two'}

In [49]:
num

{1: 'One', 2: 'Two', 3: 'Three'}

In [50]:
{
    ["one", "two"]: 12 #list and tuple cannot be keys
}

TypeError: unhashable type: 'list'

### Accessing values of a key

In [51]:
country

{'Nepal': 'Kathmandu',
 'India': 'New Delhi',
 'Bangladesh': 'Dhaka',
 'China': 'Bejing',
 'Bhutan': 'Thimpu',
 'Pakistan': 'Islamabad'}

In [52]:
country["Nepal"]

'Kathmandu'

In [54]:
country.get("India")

'New Delhi'

### What are the keys and values?

In [55]:
country

{'Nepal': 'Kathmandu',
 'India': 'New Delhi',
 'Bangladesh': 'Dhaka',
 'China': 'Bejing',
 'Bhutan': 'Thimpu',
 'Pakistan': 'Islamabad'}

In [58]:
country.keys()

dict_keys(['Nepal', 'India', 'Bangladesh', 'China', 'Bhutan', 'Pakistan'])

In [59]:
#type casting in list
list(country.keys())

['Nepal', 'India', 'Bangladesh', 'China', 'Bhutan', 'Pakistan']

In [57]:
country.values()

dict_values(['Kathmandu', 'New Delhi', 'Dhaka', 'Bejing', 'Thimpu', 'Islamabad'])

In [61]:
#typecasting in list
list(country.values())

['Kathmandu', 'New Delhi', 'Dhaka', 'Bejing', 'Thimpu', 'Islamabad']

In [62]:
country

{'Nepal': 'Kathmandu',
 'India': 'New Delhi',
 'Bangladesh': 'Dhaka',
 'China': 'Bejing',
 'Bhutan': 'Thimpu',
 'Pakistan': 'Islamabad'}

In [63]:
country.items()

dict_items([('Nepal', 'Kathmandu'), ('India', 'New Delhi'), ('Bangladesh', 'Dhaka'), ('China', 'Bejing'), ('Bhutan', 'Thimpu'), ('Pakistan', 'Islamabad')])

# Tuple Unpacking

In [65]:
a, b = (3,4)

In [66]:
print(a)

3

In [67]:
print(b)

4

## Looping in dictionary

In [68]:
country

{'Nepal': 'Kathmandu',
 'India': 'New Delhi',
 'Bangladesh': 'Dhaka',
 'China': 'Bejing',
 'Bhutan': 'Thimpu',
 'Pakistan': 'Islamabad'}

In [69]:
country.items()

dict_items([('Nepal', 'Kathmandu'), ('India', 'New Delhi'), ('Bangladesh', 'Dhaka'), ('China', 'Bejing'), ('Bhutan', 'Thimpu'), ('Pakistan', 'Islamabad')])

In [71]:
for key, value in country.items():
    print(key)

Nepal
India
Bangladesh
China
Bhutan
Pakistan

In [72]:
for key, value in country.items():
    print(value)

Kathmandu
New Delhi
Dhaka
Bejing
Thimpu
Islamabad

In [74]:
for key, value in country.items():
    print(f"The capital city of {key} is {value}.")

The capital city of Nepal is Kathmandu.
The capital city of India is New Delhi.
The capital city of Bangladesh is Dhaka.
The capital city of China is Bejing.
The capital city of Bhutan is Thimpu.
The capital city of Pakistan is Islamabad.

In [75]:
for key, value in country.items():
    if key == "China":
        print(f"The capital city of {key} is {value}.")

The capital city of China is Bejing.

## removing key and valur from dictionary
* pop(key)

In [76]:
country

{'Nepal': 'Kathmandu',
 'India': 'New Delhi',
 'Bangladesh': 'Dhaka',
 'China': 'Bejing',
 'Bhutan': 'Thimpu',
 'Pakistan': 'Islamabad'}

In [77]:
country.pop("China")

'Bejing'

In [78]:
country

{'Nepal': 'Kathmandu',
 'India': 'New Delhi',
 'Bangladesh': 'Dhaka',
 'Bhutan': 'Thimpu',
 'Pakistan': 'Islamabad'}

## Dictionary Comprehension

In [84]:
# WAP to swap key value pair from the given dictionary (use colon in expression)

In [85]:
country = {'Nepal': 'Kathmandu',
 'India': 'New Delhi',
 'Bangladesh': 'Dhaka',
 'Bhutan': 'Thimpu',
 'Pakistan': 'Islamabad'}

In [86]:
country

{'Nepal': 'Kathmandu',
 'India': 'New Delhi',
 'Bangladesh': 'Dhaka',
 'Bhutan': 'Thimpu',
 'Pakistan': 'Islamabad'}

In [87]:
{value: key for key, value in country.items()}  #interview question

{'Kathmandu': 'Nepal',
 'New Delhi': 'India',
 'Dhaka': 'Bangladesh',
 'Thimpu': 'Bhutan',
 'Islamabad': 'Pakistan'}

## Nested Dictionary

In [88]:
children = {
    "child1": {"name": "Sarahana", "year": 1998},
    "child2": {"name": "Shraddha", "year": 2001},
    "child3": {"name": "Saksham", "year": 2002}
}

In [89]:
children

{'child1': {'name': 'Sarahana', 'year': 1998},
 'child2': {'name': 'Shraddha', 'year': 2001},
 'child3': {'name': 'Saksham', 'year': 2002}}

In [96]:
for key, value in children.items():
    child_name = (value.get("name"))
    print(child_name)

Sarahana
Shraddha
Saksham

In [98]:
for key, value in children.items():
    child_name = value["name"]
    print(child_name)

Sarahana
Shraddha
Saksham

In [100]:
for key, value in children.items():
    child_year = value.get("year")
    print(child_year)

1998
2001
2002

In [102]:
for key, value in children.items():
    child_year = value["year"]
    print(child_year)

1998
2001
2002

In [105]:
for _, value in children.items():
    child_year = value["year"]
    print(child_year)

1998
2001
2002