# Variable name rules

## Python keywords cannot be variable name

Keywords are reserved words in python that healps us to write python syntax code .Therefore they cannot be variable names.

Python keywords are case sensitive 

we cannot use keywords as variable and function

In [1]:
False = 8

SyntaxError: cannot assign to False (1808597759.py, line 1)

In [2]:
global = 88

SyntaxError: invalid syntax (3095857709.py, line 1)

# Python keywords are case sensitive

In [3]:
false = 0

In [5]:
#Case Sensitive :: upper case & lower case are different ...eg: Python

#Case insensitive :: upper case & lower case are same ...eg: SQL

#We cannot use special symbols like ! ,@ ,#, %

In [6]:
$ = 5

SyntaxError: invalid syntax (2611104768.py, line 1)

In [7]:
$ = jyoti

SyntaxError: invalid syntax (3638744787.py, line 1)

In [8]:
first-name = "ritu"

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (3586081492.py, line 1)

In [9]:
first_name="ritu"

In [10]:
first name ="ritu"

SyntaxError: invalid syntax (1395289461.py, line 1)

In [11]:
num1 = 5

In [12]:
1num = 4

SyntaxError: invalid decimal literal (2805577133.py, line 1)

In [13]:
type(num1)

int

In [14]:
num2again =9

In [15]:
type(1num)

SyntaxError: invalid decimal literal (3679241994.py, line 1)

# python is case sensitive language

In [16]:
A = 'Apple'

In [17]:
a = 'any'

In [20]:
A       #no need to write print statement in jupyter

'Apple'

In [19]:
a

'any'

# format () and f string

In [23]:
first_num = 80
print (f"the first number is {first_num}")

the first number is 80

In [25]:
#format()

first_num = 90
print("the first number is {}".format(first_num))

the first number is 90

In [29]:
a = 4
b = 10
total = a + b
print(f"the first number is {a} and second number is {b} and total ={total}")

the first number is 4 and second number is 10 and total =14