# SQL : Structured Query Language

Structured Query Language (SQL) is a standardized programming language that is used to manage relational databases and perform various operations on the data in them.

In [1]:
import sqlite3

#creating and connecting to database

*DATABASE NAME: student

In [4]:
con = sqlite3.connect('student.db')

In [5]:
con

# create a cursor to exectute sql query

In [6]:
cur = con.cursor()

# creating table in Database CREATE statement

```
   sql
 CREATE TABLE table_name(column_name1 datatype , column_name2 datatype,...column_name_n datatype)
 ```

In [8]:
query = """
 create table student_details
 (roll_no int,name varchar(50), gender varchar(5))
 """

In [9]:
cur.execute(query)

# Insert Statement in sql

```
   sql
 INSERT INTO table_name(column_name_1,column_name2...,column_name_n)
 values
 (value1,value2,...valuen)
 ```

In [18]:
insert_query = """
INSERT into student_details(roll_no,name,gender)
values
(1,'Kshitiz','M'),
(2,'Sharadha','F'),
(3,'Manzil','M'),
(4,'Jyoti','F'),
(5,'Darshan','M')
"""

In [19]:
cur.execute(insert_query)

# select statement in SQL
```
sql

Select * from table_name

```

In [20]:
cur.execute("select * from student_details")

In [21]:
cur.execute("select * from student_details").fetchall()

[(1, 'Kshitiz', 'M'),
 (2, 'Sharadha', 'F'),
 (3, 'Manzil', 'M'),
 (4, 'Jyoti', 'F'),
 (5, 'Darshan', 'M')]

In [22]:
#find all data with gender

In [23]:
#where clause and having clause

query =""" select * from student_details 
where gender = 'F' 
"""

In [26]:
cur.execute(query).fetchall()

[(1, 'Kshitiz', 'M'), (3, 'Manzil', 'M'), (5, 'Darshan', 'M')]

In [25]:
query =""" select * from student_details 
where gender = 'M' 
"""

In [27]:
cur.execute(query).fetchall()

[(1, 'Kshitiz', 'M'), (3, 'Manzil', 'M'), (5, 'Darshan', 'M')]

# Update statement

```sql
UPDATE into table_name
set col_name = value
where column_name = <id value>
```

In [31]:
update_query="""
update student_details
set name = 'kshitiz regmi'
where roll_no = 1
"""

In [32]:
cur.execute(update_query)

In [33]:
cur.execute("select * from student_details").fetchall()

[(1, 'kshitiz regmi', 'M'),
 (2, 'Sharadha', 'F'),
 (3, 'Manzil', 'M'),
 (4, 'Jyoti', 'F'),
 (5, 'Darshan', 'M')]

# Delete statement

In [36]:
cur.execute("delete from student_details where roll_no = 1")

In [37]:
cur.execute("select* from student_details").fetchall()

[(2, 'Sharadha', 'F'),
 (3, 'Manzil', 'M'),
 (4, 'Jyoti', 'F'),
 (5, 'Darshan', 'M')]

# Check multiple condition using where clause

In [38]:
query = """
select * from student_details
where
gender ='M'
and name like 'D%'   #here 'name' is column name
"""

In [39]:
cur.execute(query).fetchall()

[(5, 'Darshan', 'M')]

# like operator :

The LIKE operator is used in a WHERE clause to search for a specified pattern in a column.

There are two wildcards often used in conjunction with the LIKE operator:

 The percent sign (%) represents zero, one, or multiple characters
 The underscore sign (_) represents one, single character