In [4]:
for i in range(3):
    print("--------")
    print(f"i = {i}")
    print("-------")
    
for j in range(5):
    print(f"j = {j}")

--------
i = 0
-------
--------
i = 1
-------
--------
i = 2
-------
j = 0
j = 1
j = 2
j = 3
j = 4

In [ ]:
data = [[4,5,6],[11,44,22,9],[2,4],[8]]

In [8]:
means = []

total = 0
for i in data:
    for i in item:
        total = total + i
    print(total)

NameError: name 'data' is not defined

In [9]:
data = [[4,5,6],[5,8,9,7],[0,3,0,1]]

In [24]:
#output = [[4,6],[5,9],[0,0]]

output =[]
for item in data:
    output.append(item[::2])

In [25]:
output

[[4, 6], [5, 9], [0, 0]]

In [26]:
#with map

map(lambda x : x[::2],data)

In [27]:
list(map(lambda x:x[::2],data))

[[4, 6], [5, 9], [0, 0]]

# While loop

In [ ]:
#WAP to display multiplication table

In [28]:
num = 5
for i in range (1,10):
    t = num * i
    print(t)

5
10
15
20
25
30
35
40
45

In [31]:
data = [1,2,4,5,7,8,9]

In [34]:
i = 0
total = 0
while i < len(data):
    total = total + data[i]
    i = i + 1
    
mean = total/len(data)
print(round(mean,3))

5.143