In [1]:
a = 5 
b = 2
c = a+b
print(c)

7

In [2]:
input?

In [3]:
#function syntax

def add_two_numbers():    #use def keyword
    a = 5
    b = 2
    c = a+b
    print(c)

In [4]:
add_two_numbers()      #call the function

7

In [5]:
add_two_numbers()

7

In [6]:
def add_two_numbers(a,b):
    c=a+b
    print(c)

In [7]:
add_two_numbers(a=88, b=6)

94

In [8]:
add_two_numbers(a=5,b=-55)   #positional argument is compulsary

-50

In [9]:
add_two_numbers(2,3)

5

In [10]:
def add_two_numbers(a,b):
    c=a+b
    print(c)

In [11]:
total = add_two_numbers(a=5 , b= -55)

-50

In [12]:
total

In [13]:
type(total)

NoneType

In [14]:
def add_two_numbers(a,b):
    c = a + b
    return c

In [15]:
total = add_two_numbers(a=5,b=-55)

In [16]:
total      #when we type return c then we get the value of total

-50

In [17]:
total**2    #square of total

2500

In [18]:
type(total) #now we get the type of total is int

int

In [19]:
#WAP to find volume of sphere

def volume():
    pi = 3.14
    r = 8
    v = (4/3)*pi*r**2
    print(v)

In [20]:
volume()

267.94666666666666

In [27]:
def volume(r=8,pi=3.14):
    v = (4/3)*pi*r**2
    return v

In [28]:
volume()

267.94666666666666

In [29]:
#program solution in class :  find thr volume of sphere

def cal_volume(radius):   #radius is argument or parameter
    pi=3.14
    return 4/3*pi*radius**3   #in return we can directly write expression

In [31]:
radius = int(input("enter the radius of sphere:"))
volume = cal_volume(radius=radius)                  #cal_volume(radius) both are correct
print(f"volume of a sphere is {round(volume,2)}")

enter the radius of sphere:5
volume of a sphere is 523.33

# default vs Non default argument in python

In [32]:
def greet(name,msg):
    print(f"hi,{name}{msg}")

In [35]:
greet(name = "jyoti", msg = " good morning")

hi,jyoti good morning

In [42]:
def greet(name,msg="good morning"):   #msg is a default argument
    print(f"hi {name} {msg} ")

In [43]:
greet(name = "jyoti")

hi jyoti good morning

In [44]:
greet( name ='shraddha', msg = "good afternoon ")  #default argument gets overwritten

hi shraddha good afternoon

# non default argument nvr follow default argument its alwyas give syntax error

def greet(msg="good morning", name):         #msg is a default argument
    print(f"hi {name} {msg} ")
    
    
# ERROR ::
Cell In[46], line 1
    def greet(msg="good morning", name):         #msg is a default argument
                                  ^
SyntaxError: non-default argument follows default argument

# Multiple return values in function

In [53]:
def arithmetic_op(x,y):
    total = x+y
    diff = x-y
    mul = x*y
    return total,diff,mul

In [54]:
arithmetic_op(2,3)   #ans come in tuple  ....it's tuple unpacking

(5, -1, 6)

In [55]:
total,diff,mul = arithmetic_op(2,3)

In [56]:
total

5

In [57]:
diff

-1

In [52]:
mul

6