In [ ]:
#you cannot use list methods in Tuple

cars = ("audi","mercedes","bmw")

In [ ]:
#cars.append("tesla")....gives error bcz tuple objects are immutable no method to append items

In [ ]:
#typecasting in Tuple()

cars = ("audi","mercedes","bmw")

In [ ]:
id(cars)

In [ ]:
cars = list(cars)  #typecaste tuple to list...tuple to list

In [ ]:
cars

In [ ]:
id(cars)

In [ ]:
cars.append("bentely")

In [ ]:
cars

In [ ]:
cars = tuple(cars)    #convert into tuple

In [ ]:
cars

In [ ]:
#Loops in Tuple : find the mean

In [7]:
data = (22,33,1,4,77,50,10)

In [8]:
data

(22, 33, 1, 4, 77, 50, 10)

In [9]:
total = 0
for i in range(len(data)):
    total = total + data[i]
mean = total /len(data)
print(mean)

28.142857142857142