In [1]:
txt = "I Like Orange Apple Banana and Kiwi."

In [2]:
txt = txt.lower()

In [3]:
txt = txt.replace('i like ', ' ')

In [4]:
txt = txt.replace('and ', ' ')

In [6]:
txt = txt.replace("." ," ")

In [7]:
print(txt)

 orange apple banana  kiwi

# Listing in python is collection of item under one variable name 

*allows dublicate
*sequenced and ordered
*indexed
*multiple datatypes support
*in python , a list is created by placing inside square bracket [],eparated by commas

In [8]:
f1 = {'orange','apple','banana','kiwi'}
type(f1)

set

In [9]:
f = ['orange','apple','banana','kiwi']
type(f)

list

In [2]:
list1 = [ True ,0.3 , 55, 'hello']

In [3]:
print(list1)

[True, 0.3, 55, 'hello']

# indexing (+ and -) and slicing in python list

In [5]:
cars = ['audi','bentely','mercedes','rolls royace','bugati','ferrari']

In [6]:
cars[0]

'audi'

In [7]:
cars[4]

'bugati'

In [8]:
cars[5]

'ferrari'

In [10]:
cars[-1]  #negative indexing we have in listing

'ferrari'

In [11]:
cars[-2]

'bugati'

In [12]:
#len()

In [13]:
cars

['audi', 'bentely', 'mercedes', 'rolls royace', 'bugati', 'ferrari']

In [14]:
len(cars)

6

# slicing in list

In [15]:
cars

['audi', 'bentely', 'mercedes', 'rolls royace', 'bugati', 'ferrari']

In [17]:
cars[2:5]

['mercedes', 'rolls royace', 'bugati']

In [18]:
cars[4:6]   #cars[-2]

['bugati', 'ferrari']

In [20]:
cars[-2:]

['bugati', 'ferrari']

In [21]:
cars[0:3]    #cars[:3]

['audi', 'bentely', 'mercedes']

In [22]:
cars[:3]

['audi', 'bentely', 'mercedes']

# loops in python listing

In [23]:
cars

['audi', 'bentely', 'mercedes', 'rolls royace', 'bugati', 'ferrari']

In [29]:
cars = ['audi', 'bentely', 'mercedes', 'rolls royace', 'bugati', 'ferrari']
for index in range(len(cars)):
    car = cars[index]
    print (f"{index} and {car}")

0 and audi
1 and bentely
2 and mercedes
3 and rolls royace
4 and bugati
5 and ferrari

In [30]:
for item in cars:     # easy FOR loop to print value only
    print(item)

audi
bentely
mercedes
rolls royace
bugati
ferrari

In [31]:
 #print mean of given number
nums = [55 , 66 ,70 , 23]
print(nums)

[55, 66, 70, 23]

In [32]:
T = (nums[0]+nums[1]+nums[2]+nums[3])
print(T)

214

In [33]:
mean = 214/4

In [34]:
print(mean)

53.5

In [39]:
 # to find mean of given number
num = [55,67,77,25]
t = 0
for num1 in num:
    t = t + num1
mean = t /len(num)
print(mean)

56.0

In [41]:
#same question with For...range

num2 = [55,67,77,25]   
t1 = 0
for index in range (len(num2)):
        num = num2[index]
        t1 = t1 + num
mean = t1 /len(num2)
print(mean)

56.0

In [ ]:
numbers = [23, 40,50, 20]
total = 0 
for index in range (len(num2)):